<a href="https://colab.research.google.com/github/psbruno/IA/blob/master/kNN_LoLWorlds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch
from scipy.cluster.hierarchy import dendrogram, linkage

In [4]:
Jogos = pd.read_csv("PlayIn.csv")
Jogos.head()

        Time        Top     Jungle  ...        Sup Vitoria        Classe
0       INTZ      Urgot     Gragas  ...    Alistar       0         Dive
1  MAD Lions   Renekton    Evelynn  ...   Pantheon       1         Split
2     Legacy    Camille    Nidalee  ...   Nautilus       1         Split
3       INTZ    Vladmir   Volibear  ...      Bardo       0          Poke
4        LGD   Volibear      Lilia  ...      Braum       0   Wombo Combo

[5 rows x 8 columns]

In [5]:
atributos=np.zeros((78,6))

In [11]:
Classes = pd.read_csv("Estrategias.csv")
Classes.head()

    Campeao  Peel  Dive  Split  Poke  Wombo Combo
0   Nidalee     3     3      0     5            0
1     Lilia     0     2      0     3            5
2   Orianna     3     3      0     4            5
3      Ornn     4     3      1     0            4
4    Graves     1     3      1     1            5

In [42]:
i=0
Classe=[]
for index, PlayIn in Jogos.iterrows():
  Classe.append(PlayIn[" Classe"])
  #print("Time:", PlayIn["Time"], "\n")
  flag=0 
  for  index, Dados in Classes.iterrows():
    if(Dados["Campeao"] == PlayIn["Top"]):
      A=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["Jungle"]):
      B=Dados
    if(Dados["Campeao"] == PlayIn["Mid"]):    
      C=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["ADC"]):
      D=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["Sup"]):
      E=Dados  
      flag=flag+1
    if(flag==5):
      break

  

  #print("Top :",A["Campeao"],"Jungle:",B["Campeao"],"Mid:",C["Campeao"],"ADC:",D["Campeao"],"SUP",E["Campeao"])
  atributos[i][0]=A["Peel"]+B["Peel"]+C["Peel"]+D["Peel"]+E["Peel"]
  atributos[i][1]=A["Dive"]+B["Dive"]+C["Dive"]+D["Dive"]+E["Dive"]
  atributos[i][2]=A["Split"]+B["Split"]+C["Split"]+D["Split"]+E["Split"]
  atributos[i][3]=A["Poke"]+B["Poke"]+C["Poke"]+D["Poke"]+E["Poke"]
  atributos[i][4]=A["Wombo Combo"]+B["Wombo Combo"]+C["Wombo Combo"]+D["Wombo Combo"]+E["Wombo Combo"]
  i=i+1
    
    #print("\n<-------------------",linha,"-------------------->")

print(i)

77

In [56]:

trainX = atributos[:50]
trainY = Classe[:50]

In [ ]:
trainY

In [ ]:
atributos

In [92]:
neigh=KNeighborsClassifier()

In [102]:
neigh.fit(trainX, trainY, metric= 'manhattan')

TypeError: ignored

In [ ]:
neigh.predict(atributos[50:77])

In [69]:
from sklearn.metrics import accuracy_score

In [89]:
accuracy_score(Classe[50:70],neigh.predict(atributos[50:70]))

0.6