<a href="https://colab.research.google.com/github/psbruno/IA/blob/master/kNN_LoLWorlds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch
from scipy.cluster.hierarchy import dendrogram, linkage

In [110]:
Jogos = pd.read_csv("PlayIn.csv")
Jogos.head(200)

         Time        Top     Jungle  ...        Sup Vitoria        Classe
0        INTZ      Urgot     Gragas  ...    Alistar       0         Dive
1   MAD Lions   Renekton    Evelynn  ...   Pantheon       1         Split
2      Legacy    Camille    Nidalee  ...   Nautilus       1         Split
3        INTZ    Vladmir   Volibear  ...      Bardo       0          Poke
4         LGD   Volibear      Lilia  ...      Braum       0   Wombo Combo
..        ...        ...        ...  ...        ...     ...           ...
72        LGD   Renekton     Graves  ...      Leona       1         Split
73     Legacy      Poppy      Lilia  ...      Braum       0   Wombo Combo
74        LGD    Camille    Nidalee  ...      Leona       1         Split
75     Legacy    Camille      Lilia  ...      Taric       0          Peel
76        LGD   Volibear     Graves  ...    Alistar       1   Wombo Combo

[77 rows x 8 columns]

In [153]:
atributos=np.zeros((78,6))

In [152]:
Classes = pd.read_csv("Estrategias.csv")
Classes.head(100)

      Campeao  Peel  Dive  Split  Poke  Wombo Combo
0     Nidalee     3     3      0     5            0
1       Lilia     0     2      0     3            5
2     Orianna     3     3      0     4            5
3        Ornn     4     3      1     0            4
4      Graves     1     3      1     1            5
..        ...   ...   ...    ...   ...          ...
64    Kog'Maw     5     0      0     5            2
65    Skarner     1     5      0     0            0
66      Urgot     0     5      5     0            2
67   Vladimir     0     5      4     0            5
68      Xayah     4     1      0     0            5

[69 rows x 6 columns]

In [145]:
#Aplicando os dados individuais dos campeÃµes para os times
i=0
Classe=[]
for index, PlayIn in Jogos.iterrows():
  Classe.append(PlayIn[" Classe"])
  flag=0 
  for  index, Dados in Classes.iterrows():
    if(Dados["Campeao"] == PlayIn["Top"]):
      A=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["Jungle"]):
      B=Dados
    if(Dados["Campeao"] == PlayIn["Mid"]):    
      C=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["ADC"]):
      D=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["Sup"]):
      E=Dados  
      flag=flag+1
    if(flag==5):
      break

  

  atributos[i][0]=A["Peel"]+B["Peel"]+C["Peel"]+D["Peel"]+E["Peel"]
  atributos[i][1]=A["Dive"]+B["Dive"]+C["Dive"]+D["Dive"]+E["Dive"]
  atributos[i][2]=A["Split"]+B["Split"]+C["Split"]+D["Split"]+E["Split"]
  atributos[i][3]=A["Poke"]+B["Poke"]+C["Poke"]+D["Poke"]+E["Poke"]
  atributos[i][4]=A["Wombo Combo"]+B["Wombo Combo"]+C["Wombo Combo"]+D["Wombo Combo"]+E["Wombo Combo"]
  i=i+1

In [146]:
trainX=atributos[:50]
trainY=Classe[:50]

In [147]:
#-----------------------------------------Setando a distancia e k
neigh=KNeighborsClassifier(metric ='euclidean',n_neighbors=5)

In [148]:
#--------------------------------------------------Treinamento
neigh.fit(trainX, trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [151]:
#-------------------------------------------------Resultados
neigh.predict(atributos[50:77])

array([' Dive', ' Wombo Combo', ' Peel', ' Wombo Combo', ' Dive',
       ' Wombo Combo', ' Dive', ' Wombo Combo', ' Peel', ' Dive',
       ' Split', ' Wombo Combo', ' Wombo Combo', ' Wombo Combo', ' Peel',
       ' Wombo Combo', ' Wombo Combo', ' Wombo Combo', ' Dive', ' Peel',
       ' Dive', ' Wombo Combo', ' Wombo Combo', ' Wombo Combo', ' Dive',
       ' Wombo Combo', ' Wombo Combo'], dtype='<U13')

In [149]:
from sklearn.metrics import accuracy_score

In [150]:
#------------------------------------------------------AcurÃ¡cia
accuracy_score(Classe[50:70],neigh.predict(atributos[50:70]))

0.6